* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HERO SECTION */
.hero {
  height: 55vh;              /* Perfect balanced height */
  max-height: 550px;         /* Desktop pe control */
  min-height: 350px;         /* Mobile pe collapse nahi hoga */
  background: linear-gradient(to right, #000000, #2c2c2c);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-content p {
  color: #ccc;
  margin-bottom: 20px;
}

.hero-content button {
  background: #ff4d4d;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* PRODUCTS SECTION */
.products {
  padding: 50px 20px;
  background: #f2f2f2;
}

.products h2 {
  text-align: center;
  margin-bottom: 30px;
}

.product-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 15px 0 5px;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
